@font-face {
  font-family: "iconfont"; /* Project id 4338956 */
  src: url('http://at.alicdn.com/t/c/font_4338956_pg19lb5247k.woff2?t=1700527264802') format('woff2'),
       url('http://at.alicdn.com/t/c/font_4338956_pg19lb5247k.woff?t=1700527264802') format('woff'),
       url('http://at.alicdn.com/t/c/font_4338956_pg19lb5247k.ttf?t=1700527264802') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-skullbulbidea:before {
  content: "\e613";
}

.icon-woshou:before {
  content: "\e658";
}

.icon-hezuo:before {
  content: "\e605";
}

.icon-wujieshejishigongju-:before {
  content: "\e634";
}

.icon-hezuo1:before {
  content: "\e777";
}

.icon-zhu1:before {
  content: "\e622";
}

.icon-shuye:before {
  content: "\e624";
}

.icon-shuye1:before {
  content: "\e628";
}

.icon-shuye2:before {
  content: "\e62a";
}

.icon-shuye3:before {
  content: "\e62b";
}

.icon-xianrenzhangshu:before {
  content: "\e62c";
}

.icon-shuye4:before {
  content: "\e62d";
}

.icon-cooperation:before {
  content: "\e85d";
}

.icon-hezuohuoban:before {
  content: "\e8b0";
}

.icon-zaixiangoutong:before {
  content: "\e612";
}

.icon-xiangfa-L:before {
  content: "\e637";
}

.icon-Outline:before {
  content: "\e64d";
}
