<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dragon.springbootmybatis.mapper.SeminarBookingMapper">

    <resultMap id="BaseResultMap" type="com.dragon.springbootmybatis.entity.SeminarBooking">
            <id property="seminarBookId" column="seminar_book_id" jdbcType="INTEGER"/>
            <result property="seminarUserId" column="seminar_user_id" jdbcType="VARCHAR"/>
            <result property="seminarRoomNumber" column="seminar_room_number" jdbcType="INTEGER"/>
            <result property="seminarDate" column="seminar_date" jdbcType="DATE"/>
            <result property="startTimeId" column="start_time_id" jdbcType="INTEGER"/>
            <result property="startTime" column="start_time" jdbcType="TIME"/>
            <result property="endTimeId" column="end_time_id" jdbcType="INTEGER"/>
            <result property="endTime" column="end_time" jdbcType="TIME"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createUserId" column="create_user_id" jdbcType="VARCHAR"/>
            <result property="updateUserId" column="update_user_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        seminar_book_id,seminar_user_id,seminar_room_number,
        seminar_date,start_time_id,start_time,
        end_time_id,end_time,create_time,
        update_time,create_user_id,update_user_id
    </sql>
    <select id="findAll" resultType="com.dragon.springbootmybatis.entity.SeminarBooking" resultMap="BaseResultMap">
        select * from seminar_booking
    </select>
    <select id="ifExist" resultType="com.dragon.springbootmybatis.entity.SeminarBooking" resultMap="BaseResultMap">
        select * from seminar_booking where (seminar_user_id = #{id} AND seminar_date = #{date}) LIMIT 1
    </select>
    <select id="ifConflict" resultType="int">
        SELECT COUNT(*) FROM seminar_booking
--         很奇怪阿，下面这个date失效了 Timestamp而不是Date
        WHERE seminar_date = #{date}
        AND seminar_room_number = #{roomId}
        AND (
        (start_time_id BETWEEN #{startTimeId} AND #{endTimeId} + 1)
        OR (end_time_id BETWEEN #{startTimeId} - 1 AND #{endTimeId})
        OR (start_time_id &lt; #{startTimeId} AND end_time_id &gt; #{endTimeId})
        );
    </select>
</mapper>
