<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.demos.web.mapper.SeminarBookingMapper">

    <resultMap id="SeminarBookingMap" type="com.example.demo.demos.web.entity.SeminarBooking">
            <id property="seminarBookId" column="seminar_book_id" jdbcType="INTEGER"/>
            <result property="seminarUserId" column="seminar_user_id" jdbcType="VARCHAR"/>
            <result property="seminarRoomNumber" column="seminar_room_number" jdbcType="INTEGER"/>
            <result property="seminarDate" column="seminar_date" jdbcType="DATE"/>
            <result property="startTime" column="start_time" jdbcType="INTEGER"/>
            <result property="endTime" column="end_time" jdbcType="INTEGER"/>
<!--            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>-->
<!--            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>-->
<!--            <result property="createUserId" column="create_user_id" jdbcType="INTEGER"/>-->
<!--            <result property="updateUserId" column="update_user_id" jdbcType="INTEGER"/>-->
    </resultMap>
    <select id="getAllBySeminarUserId" resultType="com.example.demo.demos.web.entity.SeminarBooking"
            resultMap="SeminarBookingMap">
        select * from seminar_booking where BINARY seminar_user_id = #{seminarUserId}
    </select>
</mapper>
